{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">Scratch.com</h1>
                <p class="lead fw-normal">Find your purrfect partner</p>
                <a class="btn btn-outline-secondary" href="{{ path('suggest_kitty') }}">Get started</a>
            </div>

            <div class="paw-container d-none d-md-block">
                <div class="paw">
                    <div class="inner"></div>
                    <div class="bottom"></div>
                </div>
            </div>
            <div class="paw-container paw-container-2 d-none d-md-block">
                <div class="paw">
                    <div class="inner"></div>
                    <div class="bottom"></div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden shadow-lg">
                <div class="my-3 py-3">
                    <h2 class="display-5">Sir Meowsalot</h2>
                    <p class="lead">Chief mouser at Camelot Castle</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto"
                     style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('{{ asset('bhk.jpeg', 'homepage') }}'); background-size: cover">
                </div>
            </div>
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden shadow-lg">
                <div class="my-3 p-3">
                    <h2 class="display-5">Snowball</h2>
                    <p class="lead">Will sit on your lap and purr all day</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto"
                     style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('{{ asset('h8Z6P77fM.jpeg', 'homepage') }}'); background-size: cover">
                </div>
            </div>
        </div>

    </main>
{% endblock %}